# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PY workplace\MEC_Blockchain_Resource_allocation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
